<!DOCTYPE html>
<html lang="en" ng-app="Locus">

<head>
    <title>Locus</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flatly.css" rel="stylesheet">
    <link href="css/new_user.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/ng-img-crop.css">

</head>

<body ng-controller="MyCtrl" ng-init="loaded=false">
    <div class="container">

        <div class="row row-content">

            <div class="col-md-2">


            </div>

            <div class="col-md-8 login-area">

                <form class="form-horizontal" name="loginForm" novalidate>

                    <div class="form-group">



                        <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                            <img-crop on-load-done="loaded=true" image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                            </img-crop>

                        </div>



                        <button class="btn btn-primary btn-sm profile-button" ngf-select ng-model="picFile" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFiles">
                            Choose Profile Picture</button>






                    </div>


                    <div class="form-group">

                        <label class="col-sm-3 control-label" for="firstname">First Name *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="firstname" name="firstname" placeholder="Enter your First Name" required>
                            <div class="error-block" ng-show="loginForm.firstname.$invalid && !loginForm.firstname.$pristine">Please Enter Your Name.</div>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-3 control-label" for="lastname">Last Name *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="lastname" name="lastname" placeholder="Enter your Last Name" required>
                            <div class="error-block" ng-show="loginForm.lastname.$invalid && !loginForm.lastname.$pristine">Please Enter Your Last Name.</div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="emailid" class="col-sm-3 control-label">Email *</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" ng-model="emailid" name="emailid" placeholder="Email" required>
                            <div class="error-block" ng-show="loginForm.emailid.$invalid && !loginForm.emailid.$pristine">Please enter a valid email.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="col-xs-12 col-sm-3 control-label">Username *</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="username" name="username" placeholder="Username" ng-minlength="3">
                            <div class="error-block" ng-show="loginForm.username.$error.minlength">Username is too short.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Password *</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" ng-model="password" ng-minlength="6" id="pw1" name="password" placeholder="Please Enter a Password">
                            <div class="help-block error-block" ng-show="loginForm.password.$error.minlength">Password too short.</div>

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="confirm_password" class="col-sm-3 control-label">Confirm Password *</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" ng-model="confirm_password" id="pw2" ng-minlength="6" name="confirm_password" placeholder="Please Confirm your Password" pw-check="pw1">

                            <div class="error-block" ng-show="loginForm.confirm_password.$error.minlength">Password too short.</div>
                            <div class="error-block" ng-show="loginForm.confirm_password.$error.pwmatch &&          
                                                              !loginForm.confirm_password.$pristine">
                                Passwords don't match.
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group ">
                        <div class="col-sm-offset-3 col-sm-8 ">
                            <button type="submit" ng-disabled="loginForm.$invalid" ng-click="upload(croppedDataUrl) " class="btn btn-primary">Register</button>

                        </div>
                </form>


                </div>

                <div class="col-md-2 ">


                </div>

            </div>


        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js "></script>
        <!--    <script src="js/app.js "></script>-->

        <script src="js/ng-file-upload/ng-file-upload-shim.min.js "></script>
        <script src="js/ng-file-upload/ng-file-upload.min.js "></script>
        <script src="js/new_user.js "></script>
        <script src="js/ng-img-crop.js "></script>

</body>

</html>